<div class="jumbotron">
  <h1 class="display-4">Welcome to FinanceTracker!</h1>
  <p class="lead"><p> This app allows to track different stock prices and to calculate your profit trading cryptocurrency. </p>
  <hr class="my-4">
  <p> Get on board! </p>
  <%= link_to new_user_session_path, class: 'btn btn-info btn-lg' do  %>
    <%= fa_icon 'sign-in' %>
    Log in
  <% end %>
  <%= link_to new_user_registration_path, class: 'btn btn-success btn-lg' do  %>
    <%= fa_icon 'user-plus' %>
    Sign up
  <% end %>
</div>
