<div class="row">
  <div class="col-12">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col"> Ticker </th>
          <th scope="col"> Name </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"> USDC </th>
          <td> USD COIN </td>
        </tr>
        <tr>
          <th scope="row"> BTC </th>
          <td> Bitcoin </td>
        </tr>
        <tr>
          <th scope="row"> XLM </th>
          <td> Stellar Lumens </td>
        </tr>
        <tr>
          <th scope="row"> BCH </th>
          <td> Bitcoin Cash </td>
        </tr>
        <tr>
          <th scope="row"> ZEC </th>
          <td> Zcash </td>
        </tr>
        <tr>
          <th scope="row"> ETH </th>
          <td> Ethereum </td>
        </tr>
        <tr>
          <th scope="row"> REP </th>
          <td> Augur </td>
        </tr>
        <tr>
          <th scope="row"> BAT </th>
          <td> Basic Attention Token </td>
        </tr>
        <tr>
          <th scope="row"> XRP </th>
          <td> XRP </td>
        </tr>
        <tr>
          <th scope="row"> LTC </th>
          <td> Litecoin </td>
        </tr>
        <tr>
          <th scope="row"> ZRX </th>
          <td> 0x </td>
        </tr>
        <tr>
          <th scope="row"> EOS </th>
          <td> EOS </td>
        </tr>
        <tr>
          <th scope="row"> OXT </th>
          <td> Orchid </td>
        </tr>
        <tr>
          <th scope="row"> DAI </th>
          <td> Dai </td>
        </tr>
        <tr>
          <th scope="row"> XTZ </th>
          <td> Tezos </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
