<div class="row">
  <div class="col-12">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col"> Value </th>
          <th scope="col"> Description </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"> Ticker </th>
          <td> Short name of currency and the base currency, e.g. Bitcoin-Euro = BTCEUR </td>
        </tr>
        <tr>
          <th scope="row"> Name </th>
          <td> Optional name of the event as a reminder </td>
        </tr>
        <tr>
          <th scope="row"> Date of buy </th>
          <td> Date when the currency was bought </td>
        </tr>
        <tr>
          <th scope="row"> Price at buy </th>
          <td> Price of the ticker currency at time of buy </td>
        </tr>
        <tr>
          <th scope="row"> Amount bought </th>
          <td> The money spend in the currency, e.g. 50€ (it is not the amount of cryptocurrency bought) to buy the currency </td>
        </tr>
        <tr>
          <th scope="row"> Trading fee </th>
          <td> Is the amount of money the trading platform and the bank will charge for buying the currency - here it is the flat amount of € (not percentages!) </td>
        </tr>
        <tr>
          <th scope="row"> Selli fee </th>
          <td> Is the amount of money the trading platform will charge for selling the currency - here it is the flat amount of € (not percentages!) </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
