<h1> Development of total profit </h1>

<div id="profit-graph">
  <%= line_chart @graph_data.group(:ticker).group_by_day(:date).sum(:profit) %>
</div>

<%= link_to 'Update', update_daily_profits_path, method: :get, remote: false, class: 'btn btn-info mt-3 mb-3 pull-right' %>
