@import 'bootstrap/dist/css/bootstrap';

.jumbotron {
  background-image: asset-url('background_welcome.jpg') !important;
  background-repeat: no-repeat;
  background-position: center;
  height: 90vh;
}

#freepik-link {
  font-size: 0.8em;
  position:  sticky;
  top: 100vh;
  a {
    color: white;
    text-shadow: 1px 1px black;
  }
}

.highlighting {
  font-weight: bold;
  text-shadow: 2px 2px #17A2B8;
  font-size: 4em;
}

.search-area {
  padding-top: 50px;
}

.no-right-padding {
  padding-right: 0 !important;
}

.results-block {
  display: inline-block;
  margin-bottom: 1em;
  margin-left: 0;
}

.nav-button {
  margin-right: 10px;
}

.user_name {
  margin: 7px 7px 0 0;
}

.min-height {
  min-height: 49px;
}

input {
  text-transform: capitalize;
}
